@model IEnumerable<StackOverflow.Models.Question>

<h2>All Questions:</h2>
<hr/>

@if (Model.Any())
{
    <ul>
        @foreach (var listQuestion in Model)
        {
            <li><a asp-action = "Detail" asp-route-id = "@listQuestion.QuestionId">@listQuestion.Title</a></li>
        }
    </ul>
}
else
{
    <p>Why no questions asked?!</p>
}

@if(User.Identity.Name != null)
{
    @Html.ActionLink("Ask a question", "Create", "Questions")
}
else
{
    @Html.ActionLink("Sign up to ask a question!", "Register", "Account")
}
